@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1220px)
	/**/
	.our-classes .classes-item .item
		display: inline-block
		float: none
		margin: 15px
		&:nth-child(even)
			margin-left: 15px 
	.about-us .about-us-info
		.about-text
			float: none
			max-width: 570px
			text-align: center
			margin: 0 auto
			.text-2
				margin: 0 auto
		.about-slider
			float: none
			margin: 0 auto
			margin-top: 30px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.slider-padding
		padding: 0 15px
	main .yoga .slider-info .slider-text h2
		font-size: 40px
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	header
		position: relative
		.slick
			display: inline-block
			float: right
			padding-top: 13px
		.menu
			display: none
		.logo
			text-align: center
	.fix
		display: none
	.slicknav_nav
		position: absolute
		top: 100%
		left: 0
		right: 0
		z-index: 999
		text-align: right
		background-color: rgba(83, 99, 219, 0.5)
	.slicknav_nav a
			display: inline-block
			transition: all 0.3s ease
	main .yoga .slider-info
		padding: 50px 0
	main .yoga .slider-info.clearfix
		margin: 0
	main .yoga .slider-info .slider-form
		width: 100%
		padding: 0
		.slider-padding
			padding: 0
			text-align: center
			form
				float: none
				display: inline-block
	main .yoga .slider-info .slider-text
		float: none
		width: 100%
		text-align: center
		.slider-padding
			display: inline-block
			p
				max-width: 100%
	.our-classes
		padding: 60px 0
	.our-classes .classes-item .item
		display: block
		margin: 20px 0
		width: 100%
		height: 100%
		&:nth-child(even)
			margin-left: 0
		img
			float: none
			padding-right: 0
			margin-top: 30px
		.text-1
			text-align: center


@media only screen and (max-width : 560px)
	/**/
	main .yoga .slider-info
		.slider-text h2
			font-size: 35px
		.slider-form form
			padding: 20px

	/* style */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
	.logo
		position: absolute
		top: 15
		left: 50%
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/



	
